<!DOCTYPE html>
<html>
  <head>
    <title>OrderHistoryManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.7.1.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/2.1.5/js/dataTables.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/2.1.5/js/dataTables.bootstrap5.js' %>


    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'https://cdn.datatables.net/2.1.5/css/dataTables.bootstrap5.css' %>

    <script>
      $(document).on('turbolinks:load', function() {
        $('#users-table').DataTable({
          paging: true,
          searching: true,
          ordering: true,
          order: [[3, 'desc']]
        });
      });

    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
